<header class="boder-seccion">
  <div class="row d-flex justify-content-between">
    <div class="col-auto head_movil">
      <img src="./img/galaxytraining_movil.jpg" width="48" height="48" class="border border-primary rounded">
      <button class="mainsite__logo__botonmenu" type="button" (click)="isShoMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="col" id="header__box">
      <div class="header__search">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
        <input class="form-control form-control-lg" type="text" placeholder="Buscar"
          aria-label=".form-control-lg example">
      </div>
    </div>
    <div class="col-auto">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-links" aria-current="page" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-links" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <div class="header__user">
            <div class="header__user__circle">
              C
            </div>
            <div class="header__user__detalle">
              <h5>Javier Benavides</h5>
              <small>{{ 'correo@email.com' }}</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<div id="blockScrem" (click)="isShoMenu()"></div>
